.vscode/settings.json
postag.pdf
model.ai
model.png
postag.ai
postag.svg
postag-01-01.png
thesis.aux
thesis.bbl
thesis.blg
thesis.brf
thesis.lof
thesis.log
thesis.lot
thesis.out
thesis.toc
postag1.pdf
thesis.synctex.gz
drawings/
images/postag2.pdf
thesis.rtf
.vscode/spellright.dict
